<html>
    <style>
        body{
            text-align: center;
        }
    </style>
  <br>
      <h1>Create User Page</h1>
    <form action="/createUser" method="post">
      User Name:<input type="text" name="username" /></br> 
      Password:<input type="password" name="password"/></br>
      <input type="Submit" name="submit" value="Submit">
    </form>
  </body>
</html>
