<html>
    <style>
        body{ text-align:center}
    </style>
  <body >
      <h1>Login Page</h1>
      <form action="/" method="post">
          User Name: <input type="text" name="username"></br>
          Password: <input type="password" name="password"></br>
          <input type="Submit" name="submit" value="Submit">
      </form>
      <a href="createUser">Create Account</a>
  </body>
</html>
