<html>
  <style>
    body {
      text-align: center;
    }
    button#logout {
      position: absolute;
      top: 0;
      right: 0;
    }
  </style>

  <body>
    Menu Page <br />
    <a href="searchForMovies">Search for movies</a>
    <a href="createNewMovie">Create new movie</a> <br />
    <% if(user == 0){%>
    <a href="usersManagment" onload="check()">Edit Users </a>
    <% } %>
    <div class="logout">
      <button id="logout" onclick="window.location.href = '/logout'">
        Logout
      </button>
    </div>
  </body>
</html>
