<html>
  <style>
    body {
      text-align: center;
    }
  </style>

  <body>
    Menu Page <br />
    <a href="searchForMovies">Search for movies</a>
    <a href="createNewMovie">Create new movie</a> <br />
    <% if(user == 0){%>
    <a href="usersManagment" onload="check()">Edit Users </a>
    <% } %>
    <button></button>
  </body>
</html>
