<html>
  <style>
    head {
      text-align: center;
    }
    body {
      text-align: center;
    }
    button#logout {
      position: absolute;
      top: 0;
      right: 0;
    }
  </style>
  <head>
    <h1>Users Managment Page</h1>
  </head>
  <body>
    <list>
      <%users.forEach(user => {%>
      <ul>
        <%=user.username%>
        <a href="/usersManagment/<%=user.username%>">DELETE</a>
        <a href="/userData/<%=user.username%>">UPDATE</a>
      </ul>

      <% })%>
      <a href="/userData">Add New</a>
    </list>
    <div class="logout">
      <button id="logout" onclick="window.location.href = '/logout'">
        Logout
      </button>
  </body>
</html>
