<html>
  <style>
    head {
      text-align: center;
    }
    body {
      text-align: center;
    }
  </style>
  <head>
    <h1>Users Managment Page</h1>
  </head>
  <body>
    <list>
      <%users.forEach(user => {%>
      <ul>
        <%=user.username%>
        <a href="/usersManagment/<%=user.username%>">DELETE</a>
        <a href="/userData">UPDATE</a>
      </ul>

      <% })%>
    </list>
  </body>
</html>
